{% extends "base.html" %}

{% block page_title %}1Avis.fr: Site en construction{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Admin Panel <small>control your switches</small></h1>
</div>

<div class="row">
	<div class="col-md-12">
	{% for switch in object_list %}
		<ul class="list-group">
			<li class="list-group-item"><a href={% url 'UnAvisAdmin:switch_update_admin' switch.id %}>{{ switch.name }}</a><span class="badge">{{ switch.active }}</span></li>
		</ul>
	{% endfor %}
	</div>
</div>
{% endblock %}
