<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>1avis.fr - {% block page_title %}{% endblock %}</title>
        
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}{% endblock %}" />
        <meta name="viewport" content="width=device-width" />

        {% block css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"></link>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"></link>
		{% endblock %}

		{% block header %}{% endblock %}
    </head>

	<body role="document">
	{% block messages %}
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			<span>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}{{ message }}</span>
		</div>
		{% endfor %}
	{% endif %}
	{% endblock %}

    {% block body %}
        <!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

		{% include "common/navigation.html" %}

		<div class="container">
        {% block content %}
        {% endblock content %}
		</div>

		{% block javascript_library %}
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="{% static 'js/home.js' %}"></script> 
		{% endblock %}

    {% endblock body %}

	{% include "common/footer.html" %}
    </body>
</html>
