{% load i18n %}

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="#">1Avis.fr</a>
            </h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li><a href="{% url "home" %}"><span class="icon-bulb"></span>{% trans "home" %}</a></li>
            <li><a href="{% url "category_list" %}">Categories</a></li>
        </ul>

        <ul class="right">
            {% if user.is_authenticated %}
            <li><a href="{% url "users:logout" %}"><span class="icon-user2"></span>Logout {{ user.email }}</a></li>
            {% else %}
            <li><a href="{% url "users:login" %}"><span class="icon-user2"></span>Login</a></li>
            {% endif %}
        </ul>
    </section>
</nav>
